<section id="catalog" class="section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <div>
      <ul class="catalog-watch-list">
        <li class="catalog-watch-link">
          <div class="picture-box">
            <picture class="catalog-picture-watch">
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images1-1x-N-min_22_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images1-2x-N-min_25_11zon.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images1-1x-T-min_23_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images1-2x-T-min_26_11zon.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images1-1x-M-min_21_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images1-2x-M-min_24_11zon.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="catalog-picture-watch-img"
                src="/img/catalog-section-img/WEBP/images1-1x-M-min_21_11zon.webp"
                alt="Garmin Fenix 7X Pro"
                height="208"
                width="226"
              />
            </picture>
          </div>

          <p class="catalog-discribe">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-price">€500</p>
        </li>

        <li class="catalog-watch-link">
          <div class="picture-box">
            <picture class="catalog-picture-watch">
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images2-1x-N-min_28_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images2-2x-N-min_31_11zon.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images2-1x-T-min_29_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images2-2x-T-min_32_11zon.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images2-1x-M-min_27_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images2-2x-M-min_30_11zon.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="catalog-picture-watch-img"
                src="/img/catalog-section-img/WEBP/images2-1x-M-min_27_11zon.webp"
                alt="Garmin Marq Athlete"
              />
            </picture>
          </div>
          <p class="catalog-discribe">Garmin Marq Athlete</p>
          <p class="catalog-price">€450</p>
        </li>

        <li class="catalog-watch-link">
          <div class="picture-box">
            <picture class="catalog-picture-watch">
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images3-1x-N-min_2_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images3-2x-N-min_5_11zon.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images3-1x-T-min_3_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images3-2x-T-min_6_11zon.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images3-1x-M-min_1_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images3-2x-M-min_4_11zon.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="catalog-picture-watch-img"
                src="/img/catalog-section-img/WEBP/images3-1x-M-min_1_11zon.webp"
                alt="Garmin Descent MK1"
                height="208"
                width="226"
              />
            </picture>
          </div>

          <p class="catalog-discribe">Garmin Descent MK1</p>
          <p class="catalog-price">€680</p>
        </li>

        <li class="catalog-watch-link">
          <div class="picture-box">
            <picture class="catalog-picture-watch">
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images4-1x-N-min_8_11zon.webp  1x,
                  /img/catalog-section-img/WEBP/images4-2x-N-min_11_11zon.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images4-1x-T-min_9_11zon.webp  1x,
                  /img/catalog-section-img/WEBP/images4-2x-T-min_12_11zon.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images4-1x-M-min_7_11zon.webp  1x,
                  /img/catalog-section-img/WEBP/images4-2x-M-min_10_11zon.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="catalog-picture-watch-img"
                src="/img/catalog-section-img/WEBP/images4-1x-M-min_7_11zon.webp"
                alt="Garmin D2 Delta PX"
                height="208"
                width="226"
              />
            </picture>
          </div>
          <p class="catalog-discribe">Garmin D2 Delta PX</p>
          <p class="catalog-price">€380</p>
        </li>

        <li class="catalog-watch-link catalog-watch-link">
          <div class="picture-box">
            <picture class="picture-watch">
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images5-1x-N-min_13_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images5-2x-N-min_15_11zon.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images5-1x-T-min_14_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images5-2x-T-min_16_11zon.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/catalog-section-img/mobile-hidden/mobile-watch-5-1x-min.png 1x, /img/catalog-section-img/mobile-hidden/mobile-watch-5-1x-min.png 2x"
                media="(max-width: 767px)"
              />

              <img
                class="catalog-picture-watch-img"

                src="/img/catalog-section-img/mobile-hidden/mobile-watch-5-1x-min.png"

                alt="Garmin Fenix 6 Pro Solar"
                height="208"
                width="226"
              />
            </picture>
          </div>

          <p class="catalog-discribe">Garmin Fenix 6 Pro Solar</p>
          <p class="catalog-price">€400</p>
        </li>

        <li class="catalog-watch-link catalog-watch-link">
          <div class="picture-box">
            <picture class="catalog-picture-watch">
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images6-1x-N-min_17_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images6-2x-N-min_19_11zon.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog-section-img/WEBP/images6-1x-T-min_18_11zon.webp 1x,
                  /img/catalog-section-img/WEBP/images6-2x-T-min_20_11zon.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/catalog-section-img/mobile-hidden/mobile-watch-6-1x-min.png 1x, /img/catalog-section-img/mobile-hidden/mobile-watch-6-1x-min.png 2x"
                media="(max-width: 767px)" />

              <img
                class="catalog-picture-watch-img"

                src="/img/catalog-section-img/mobile-hidden/mobile-watch-6-1x-min.png"
                alt="Mark Guerrero"
                height="208"
                width="226"

              />
            </picture>
          </div>

          <p class="catalog-discribe">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <p class="catalog-price">€395</p>
        </li>
      </ul>
    </div>

    <button class="catalog-button catalog-button" type="button" >Show more</button>

  </div>
</section>
